<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Library</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <section id="page1">
        <div class="container">
            <h3>Today a READER <br> Tomorrow a LEADER</h3>
            <div class="container-1">
                <div class="text-container">
                    <h2 class="title">YOUR BOOK</h2>
                    <h1 class="subtitle">LIBRARY</h1>
                    <div class="button-group">
                        <button class="P1-btn addbtn">Add Book</button>
                        <button class="P1-btn prevbtn">Previous Books</button>
                    </div>
                </div>                
                <div class="homeImages">
                    <img id="atom" src="/assets/atom.png" alt="book1" class="images atom">
                    <img id="pride" src="/assets/pride.png" alt="book2" class="images pride">
                    <img id="limit" src="/assets/limit.png" alt="book3" class="images limit">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="page2">
        <div class="containerFav">
            <div class="favImage">
                <img id="atoms" src="/assets/atom.png" alt="book1" class="atoms">
            </div>
            <div class="text-container-fav">
                    <h2>Your Favorite</h2>
                    <h3 style="padding-top: 50px; font-size: 2.5rem; margin: 0;">Atomic Habits</h3>
                    <p>review of their favorite book (down)
                        This book helped me to get my life straight by building a habit that
                         i consistently execute daily with ease.</p>
            </div>
        </div>
    </section>

    <section id="page3">
        <div class="containerPrevious">
            <h2>Previous Books</h2>
            <div class="contPrev">
                <div class="prevBooks">
                    <img src="/assets/atom.png" alt="book1" class="prevBookImg">
                    
                    <div class="prevBookTxt">
                        <h4>Atomic Habits</h4>
                        <h6>An easy and proven ways to build good habits & break bad ones</h6>
                    </div>
                </div>
                <div class="prevBooks">
                    <img src="/assets/limit.png" alt="book2" class="prevBookImg">
                    <div class="prevBookTxt">
                        <h4>Limitless</h4>
                        <h6>Upgrade your brain, Learn anything faster, and Unlock youe exceptional life</h6>
                    </div>    
                </div>
                <div class="prevBooks">
                    <img src="/assets/pride.png" alt="book3" class="prevBookImg">
                    <div class="prevBookTxt">
                        <h4>Pride and Prejudice</h4>
                        <h6>It is a truth universally acknowledged that a single man in possession of a good fortune must be in want of a wife.</h6>
                    </div>
                </div>
            </div>
            <button class="P1-btn prevbtn seeall-btn">SEE ALL</button>
        </div>
    </section>

    <section id="page4">
        <div>
            page4
        </div>
    </section>
    <script src="./scripts/main.js"></script>
</body>
</html>
